
:root {
    --font-sizemobile: 80px;
    --color: darkgrey;
    --gutter: calc(var(--font-size) * 2);
    --font-text: 'Archivo', sans-serif;
    --font-title: 'Instrument Serif', serif; 
}

:root {
    --background-color: #eae5dd;
    --text-color: #000000;
    font-size: 16px; /* Tamaño de fuente base */
}

/* Clase para cambiar colores al modo oscuro */
.dark-mode {
    --background-color: #000000;
    --text-color: #eae5dd;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el modo oscuro */



body {
    font-family: 'Instrument Serif', serif;
    

  }

@media (min-width: 600px){
    :root{
        --font-size:32px;
    }
}
.titletype1{
    font-family:var(--font-title);
    font-style: normal;
    font-size: var(--font-sizemobile);
    line-height: 80px;
    margin-left: 15px;
    

}

.titletype2{
    font-family:var( --font-title);
    font-style: italic;
    font-size: var(--font-sizemobile);
    line-height: 80px;
    margin-left: 15px;

}
sup {
    vertical-align: super;
    font-size: 20px;
    font-family:var(--font-text);
    font-weight: 10;
  }

.mainbar{
    font-family:var(--font-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 30px;
    margin: 15px;
    padding-top: 15px;
}
.menu{
    display:flex;
    flex-direction: column;
    line-height: 15px;
    font-size: 12px;
}

.mode-switcher {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    border: none; 
    border-radius: 20px; 
    overflow: hidden; 
}

.mode-button {
    margin-left: auto;
    justify-content: right;
    color: rgb(36, 36, 36); 
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border: none; 
    position: relative; 
    z-index: 1; 
}

/* Clases para controlar el efecto de letterpress */
.mode-button.print-mode {
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.585), -1px -1px 1px rgba(255, 255, 255, 0.501);
}

.mode-button.digital-mode {
    /* Efecto de letterpress para el modo inactivo */
    text-shadow: none;
}

.carousel {
    width: 100%;
    height: 100vh; 
    margin: 0px;
    background-size: cover;
    background-position: center;
    
  }

  .carousel {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative; 
    transition: background-image 0.4s ease-in-out; 
    
}

.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1; }

.carousel-content {
    top: 50px;
    position: absolute; 
    z-index: 2; 
    color:#eae5dd; 
    text-align: left; 
}

.menu-bar {
    position: fixed;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    background-color: #eae5dd;
}

/* Estilos para modo oscuro */
.dark-mode p, .dark-mode a {
    color: #eae5dd; /* Esto cambiará el color del texto de <p> y <a> en modo oscuro */
}

.dark-mode {
    background-color: #000000; /* Fondo oscuro para todo el cuerpo */
}

body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}
.dark-mode .menu-bar {
    background-color: black;

}

/* ANTOTHER MAGAZINE */

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 50px;
}

.scroll-wrapper img {
    display: inline-block;
    max-width: 100%;
    max-height: 500px;
    margin-right: 10px;
}

.advertisement{
    font-family:var( --font-text) ;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

#logos-container{
    text-align: center;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  .close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .brand-name {
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el efecto al pasar el mouse */
    line-height: 30px;
  }
  
  .brand-name:hover {
    font-style: italic;
  }

.index{
display: inline-flex;
padding-bottom: 50px;
align-items: baseline;
margin-top: 80px;
margin-left: 15px;
gap: 40px;
  }

.magazinetitle{

    font-family:var( --font-text) ;
    font-size: 14px;
    
}

#masthead-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-family:var( --font-text) ;
    font-size: 12px;
  }
  
  .flexbox-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
  }

 